<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CatboobGGStream.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CatboobGGStream.Properties.Settings>
            <setting name="OverlayWindowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="OverlayWindowLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="OverlayWindowHeight" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="OverlayWindowWidth" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="OverlayWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </CatboobGGStream.Properties.Settings>
    </userSettings>
</configuration>